epay/epaymdpservices/docs/wsdl/EPaywsoCommonTypes.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://www.csi.it/epay/epaywso/types"
        attributeFormDefault="unqualified"
        elementFormDefault="qualified"
        targetNamespace="http://www.csi.it/epay/epaywso/types">
   
   <simpleType name="TipoRichiestaType">
		<restriction base="string">
			<enumeration value="INSERISCI_LISTA_DI_CARICO" />
			<enumeration value="AGGIORNA_POSIZIONI_DEBITORIE" />
			<enumeration value="TRASMETTI_NOTIFICHE_PAGAMENTO" />
			<enumeration value="TRASMETTI_AVVISI_SCADUTI" />
			<enumeration value="TRASMETTI_FLUSSO_RENDICONTAZIONE" />
			<enumeration value="TRASMETTI_FLUSSO_RENDICONTAZIONE_ESTESO" />
			<enumeration value="TRASMETTI_RICHIESTE_DI_REVOCA" />
			<enumeration value="TRASMETTI_RT" />
		</restriction>
	</simpleType>
   <simpleType name="StatoRichiestaType">
      <restriction base="string">
         <enumeration value="IN_CORSO_DI_ACQUISIZIONE"/>
         <enumeration value="ERRORE_IN_FASE_DI_ACQUISIZIONE"/>
         <enumeration value="DA_ELABORARE"/>
         <enumeration value="ERRORE_IN_FASE_DI_ELABORAZIONE"/>
         <enumeration value="ELABORATA"/>
      </restriction>
   </simpleType>
   <simpleType name="TipoAggiornamentoType">
      <restriction base="string">
         <enumeration value="MODIFICA"/>
         <enumeration value="ANNULLAMENTO"/>
      </restriction>
   </simpleType>
   <element name="EPaywsoServiceResponse" type="tns:ResponseType"/>
   <complexType name="ResponseType">
      <sequence>
         <element name="Result" type="tns:ResultType"/>
      </sequence>
   </complexType>
   <complexType name="ResultType">
      <sequence>
         <element name="Codice" type="tns:CodiceEsitoType"/>
         <element minOccurs="0" name="Messaggio" type="tns:String500Type"/>
      </sequence>
   </complexType>
   <complexType name="EsitoInserimentoType">
      <sequence>
         <element name="ElencoPosizioniDebitorieInserite">
            <complexType>
               <sequence>
                  <element maxOccurs="1000"
                           name="PosizioneDebitoriaInserita"
                           type="tns:PosizioneDebitoriaType"/>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
   <complexType name="EsitoAggiornamentoType">
      <sequence>
         <element name="ElencoPosizioniDebitorieAggiornate">
            <complexType>
               <sequence>
                  <element maxOccurs="1000"
                           name="PosizioneDebitoriaAggiornata"
                           type="tns:PosizioneDebitoriaType"/>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
   <complexType name="PosizioneDebitoriaType">
      <sequence>
         <element name="IdPosizioneDebitoria" type="tns:String50Type"/>
         <element minOccurs="0" name="IUV" type="tns:String35Type"/>
         <element minOccurs="0" name="CodiceAvviso" type="tns:String35Type"/>
         <element name="CodiceEsito" type="tns:CodiceEsitoType"/>
         <element minOccurs="0" name="DescrizioneEsito" type="tns:String200Type"/>
      </sequence>
   </complexType>
   <simpleType name="CodiceEsitoType">
      <restriction base="string">
         <pattern value="[012][0-9]{2}"/>
      </restriction>
   </simpleType>
   <simpleType name="TipoVersamento">
      <restriction base="string">
         <enumeration value="SPONTANEO"/>
         <enumeration value="ATTESO"/>
      </restriction>
   </simpleType>
   <simpleType name="CodiceVersamentoType">
      <restriction base="string">
         <minLength value="1"/>
         <maxLength value="4"/>
      </restriction>
   </simpleType>
   <complexType name="EndpointType">
      <sequence>
         <element default="http" name="Protocol">
            <simpleType>
               <restriction base="string">
                  <enumeration value="http"/>
                  <enumeration value="https"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Host" type="string"/>
         <element name="Context" type="string"/>
         <element minOccurs="0" name="Port" type="int"/>
         <element minOccurs="0" name="CredenzialiAutenticazione">
            <complexType>
               <sequence>
                  <element name="NomeUtente" type="string"/>
                  <element name="Password" type="string"/>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
   <complexType name="SoggettoType">
      <sequence>
         <choice>
            <element name="PersonaFisica" type="tns:PersonaFisicaType"/>
            <element name="PersonaGiuridica" type="tns:PersonaGiuridicaType"/>
         </choice>
         <element name="IdentificativoUnivocoFiscale" type="tns:String35Type"/>
         <element minOccurs="0" name="Indirizzo" type="tns:String70Type"/>
         <element minOccurs="0" name="Civico" type="tns:String16Type"/>
         <element minOccurs="0" name="CAP" type="tns:String16Type"/>
         <element minOccurs="0" name="Localita" type="tns:String35Type"/>
         <element minOccurs="0" name="Provincia" type="tns:String35Type"/>
         <element minOccurs="0" name="Nazione" type="tns:NazioneType"/>
         <element minOccurs="0" name="EMail" type="tns:EMailAddress"/>
      </sequence>
   </complexType>
   <complexType name="PersonaFisicaType">
      <sequence>
         <element name="Cognome" type="tns:String70Type"/>
         <element name="Nome" type="tns:String70Type"/>
      </sequence>
   </complexType>
   <complexType name="PersonaGiuridicaType">
      <sequence>
         <element name="RagioneSociale" type="tns:String70Type"/>
      </sequence>
   </complexType>
   <simpleType name="String2000Type">
      <restriction base="string">
         <minLength value="1"/>
         <maxLength value="2000"/>
      </restriction>
   </simpleType>
   <simpleType name="String1000Type">
      <restriction base="string">
         <minLength value="1"/>
         <maxLength value="1000"/>
      </restriction>
   </simpleType>
   <simpleType name="String500Type">
      <restriction base="string">
         <minLength value="1"/>
         <maxLength value="500"/>
      </restriction>
   </simpleType>
   <simpleType name="String400Type">
      <restriction base="string">
         <minLength value="1"/>
         <maxLength value="400"/>
      </restriction>
   </simpleType>
   <simpleType name="String256Type">
      <restriction base="string">
         <minLength value="1"/>
         <maxLength value="256"/>
      </restriction>
   </simpleType>
   <simpleType name="String250Type">
      <restriction base="string">
         <minLength value="1"/>
         <maxLength value="250"/>
      </restriction>
   </simpleType>
   <simpleType name="String200Type">
      <restriction base="string">
         <minLength value="1"/>
         <maxLength value="200"/>
      </restriction>
   </simpleType>
   <simpleType name="String150Type">
      <restriction base="string">
         <minLength value="1"/>
         <maxLength value="150"/>
      </restriction>
   </simpleType>
   <simpleType name="String140Type">
      <restriction base="string">
         <minLength value="1"/>
         <maxLength value="140"/>
      </restriction>
   </simpleType>
   <simpleType name="String100Type">
      <restriction base="string">
         <minLength value="1"/>
         <maxLength value="100"/>
      </restriction>
   </simpleType>
   <simpleType name="String80Type">
      <restriction base="string">
         <minLength value="1"/>
         <maxLength value="80"/>
      </restriction>
   </simpleType>
   <simpleType name="String70Type">
      <restriction base="string">
         <minLength value="1"/>
         <maxLength value="70"/>
      </restriction>
   </simpleType>
   <simpleType name="String50Type">
      <restriction base="string">
         <minLength value="1"/>
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="String35Type">
      <restriction base="string">
         <minLength value="1"/>
         <maxLength value="35"/>
      </restriction>
   </simpleType>
   <simpleType name="String30Type">
      <restriction base="string">
         <minLength value="1"/>
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="String16Type">
      <restriction base="string">
         <minLength value="1"/>
         <maxLength value="16"/>
      </restriction>
   </simpleType>
   <simpleType name="AnnoType">
      <restriction base="integer">
         <minInclusive value="1900"/>
         <maxInclusive value="2900"/>
      </restriction>
   </simpleType>
   <simpleType name="EMailAddress">
      <restriction base="string">
         <pattern value="[a-zA-Z0-9_\.\+\-]+@[a-zA-Z0-9\-]+(\.[a-zA-Z0-9\-]+)*" />
         <minLength value="1"/>
         <maxLength value="256"/>
      </restriction>
   </simpleType>
   <simpleType name="ImportoType">
      <restriction base="decimal">
         <minInclusive value="0.00"/>
         <maxInclusive value="999999999.99"/>
         <fractionDigits value="2"/>
         <totalDigits value="12"/>
      </restriction>
   </simpleType>
   <simpleType name="DimensioneMBType">
      <restriction base="decimal">
         <minInclusive value="0.000"/>
         <maxInclusive value="9999999.999"/>
         <fractionDigits value="3"/>
         <totalDigits value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="NazioneType">
      <restriction base="string">
         <pattern value="[A-Z]{2}"/>
      </restriction>
   </simpleType>
   <simpleType name="Numero6CifreType">
      <restriction base="integer">
         <minInclusive value="1"/>
         <maxInclusive value="999999"/>
      </restriction>
   </simpleType>
   <simpleType name="IBANType">
      <restriction base="string">
         <minLength value="1"/>
         <maxLength value="35"/>
      </restriction>
   </simpleType>
</schema>
