mdpnew/mdppagopaapi/docs/Metadata.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:mdp="www.csi.it/mdp" targetNamespace="www.csi.it/mdp" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="MapEntry">
		<xs:sequence>
			 <xs:element name="key" minOccurs="0" type="xs:string"/>
             <xs:element name="value" minOccurs="0" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="metadata">
		<xs:sequence>
			<xs:element name="mapEntry" type="mdp:MapEntry" nillable="false" minOccurs="1" maxOccurs="10" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="Metadata" type="mdp:metadata" nillable="false"/>

</xs:schema>


