epay/epayservices/docs/wsdl/CoopApplicativaPEC.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.csi.it/epay/epaywso/coopapplicativapec" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CoopApplicativaPEC" targetNamespace="http://www.csi.it/epay/epaywso/coopapplicativapec">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.csi.it/epay/epaywso/types" targetNamespace="http://www.csi.it/epay/epaywso/types" version="1.0">

  <xs:element name="EPaywsoServiceResponse" type="tns:ResponseType"/>

  <xs:complexType name="ResponseType">
    <xs:sequence>
      <xs:element form="qualified" name="Result" type="tns:ResultType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ResultType">
    <xs:sequence>
      <xs:element form="qualified" name="Codice" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="Messaggio" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EsitoAggiornamentoType">
    <xs:sequence>
      <xs:element form="qualified" name="ElencoPosizioniDebitorieAggiornate">
        <xs:complexType>
          <xs:sequence>
            <xs:element form="qualified" maxOccurs="unbounded" name="PosizioneDebitoriaAggiornata" type="tns:PosizioneDebitoriaType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PosizioneDebitoriaType">
    <xs:sequence>
      <xs:element form="qualified" name="IdPosizioneDebitoria" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="IUV" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="CodiceAvviso" type="xs:string"/>
      <xs:element form="qualified" name="CodiceEsito" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="DescrizioneEsito" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EndpointType">
    <xs:sequence>
      <xs:element default="http" form="qualified" name="Protocol" type="xs:string"/>
      <xs:element form="qualified" name="Host" type="xs:string"/>
      <xs:element form="qualified" name="Context" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="Port" type="xs:int"/>
      <xs:element form="qualified" minOccurs="0" name="CredenzialiAutenticazione">
        <xs:complexType>
          <xs:sequence>
            <xs:element form="qualified" name="NomeUtente" type="xs:string"/>
            <xs:element form="qualified" name="Password" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EsitoInserimentoType">
    <xs:sequence>
      <xs:element form="qualified" name="ElencoPosizioniDebitorieInserite">
        <xs:complexType>
          <xs:sequence>
            <xs:element form="qualified" maxOccurs="unbounded" name="PosizioneDebitoriaInserita" type="tns:PosizioneDebitoriaType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SoggettoType">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="PersonaFisica" type="tns:PersonaFisicaType"/>
      <xs:element form="qualified" minOccurs="0" name="PersonaGiuridica" type="tns:PersonaGiuridicaType"/>
      <xs:element form="qualified" name="IdentificativoUnivocoFiscale" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="Indirizzo" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="Civico" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="CAP" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="Localita" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="Provincia" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="Nazione" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="EMail" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PersonaFisicaType">
    <xs:sequence>
      <xs:element form="qualified" name="Cognome" type="xs:string"/>
      <xs:element form="qualified" name="Nome" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PersonaGiuridicaType">
    <xs:sequence>
      <xs:element form="qualified" name="RagioneSociale" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="ProtocolloAggiornamentoAzioneType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INSERIMENTO"/>
      <xs:enumeration value="MODIFICA"/>
      <xs:enumeration value="CANCELLAZIONE"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.csi.it/epay/epaywso/coopapplicativapec" xmlns:ns1="http://www.csi.it/epay/epaywso/types" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.csi.it/epay/epaywso/coopapplicativapec">
  <xs:import namespace="http://www.csi.it/epay/epaywso/types"/>
  <xs:element name="AggiornaCodiceVersamentoRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ProtocolloAggiornamentoAzione" type="ns1:ProtocolloAggiornamentoAzioneType"/>
        <xs:element name="CodiceVersamento" type="tns:CodiceVersamentoType"/>
        <xs:element name="IdOperazione" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AggiornaCodiceVersamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="esito" type="ns1:ResponseType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AggiornaEnteRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Ente" type="tns:EnteType"/>
        <xs:element name="CodiciVersamento" type="tns:CodiciVersamentoType"/>
        <xs:element name="IdOperazione" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AggiornaEnteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="esito" type="ns1:ResponseType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AggiornaRiferimentoContabileRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ProtocolloAggiornamentoAzione" type="ns1:ProtocolloAggiornamentoAzioneType"/>
        <xs:element name="RiferimentoContabile" type="tns:RiferimentoContabileType"/>
        <xs:element name="IdOperazione" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AggiornaRiferimentoContabileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="esito" type="ns1:ResponseType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnnullaOperazioneRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="IdOperazione" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnnullaOperazioneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="esito" type="ns1:ResponseType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfermaOperazioneRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="IdOperazione" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfermaOperazioneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="esito" type="ns1:ResponseType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestResourcesRequest">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestResourcesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="esito" type="ns1:ResponseType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="EnteType">
    <xs:sequence>
      <xs:element name="CodiceFiscale" type="xs:string"/>
      <xs:element name="Denominazione" type="xs:string"/>
      <xs:element name="Indirizzo" type="xs:string"/>
      <xs:element name="Civico" type="xs:string"/>
      <xs:element name="Localita" type="xs:string"/>
      <xs:element name="Cap" type="xs:string"/>
      <xs:element name="SiglaProvincia" type="xs:string"/>
      <xs:element minOccurs="0" name="Email" type="xs:string"/>
      <xs:element minOccurs="0" name="Gs1Gln" type="xs:string"/>
      <xs:element minOccurs="0" name="Cbill" type="xs:string"/>
      <xs:element minOccurs="0" name="Iban" type="xs:string"/>
      <xs:element minOccurs="0" name="Bic" type="xs:string"/>
      <xs:element minOccurs="0" name="IbanTesoreria" type="xs:string"/>
      <xs:element minOccurs="0" name="BicTesoreria" type="xs:string"/>
      <xs:element minOccurs="0" name="IbanAppoggio" type="xs:string"/>
      <xs:element minOccurs="0" name="BicAppoggio" type="xs:string"/>
      <xs:element name="EntePlurintermediato" type="xs:boolean"/>
      <xs:element name="RiconciliazioneVersamenti" type="xs:boolean"/>
      <xs:element name="Accertamento" type="xs:boolean"/>
      <xs:element name="RicezioneErrori" type="xs:boolean"/>
      <xs:element name="TipologiaAccertamento" type="tns:TipologiaAccertamentoType"/>
      <xs:element name="ModalitaAcquisizioneProvvisori" type="tns:ModalitaAcquisizioneProvvisoriType"/>
      <xs:element name="RicezioneFlussoBaseRendicontazione" type="xs:boolean"/>
      <xs:element name="PeriodicitaSchedulazioneRiconciliazione" type="tns:PeriodicitaSchedulazioneType"/>
      <xs:element minOccurs="0" name="GiornoSchedulazione" type="xs:int"/>
      <xs:element name="QualsiasiCodiceVersamento" type="xs:boolean"/>
      <xs:element minOccurs="0" name="Logo" type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodiciVersamentoType">
    <xs:sequence>
      <xs:element name="ElencoCodiciVersamento">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CodiceVersamento" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodiceVersamentoType">
    <xs:sequence>
      <xs:element name="CFEnte" type="xs:string"/>
      <xs:element name="Codice" type="xs:string"/>
      <xs:element minOccurs="0" name="Descrizione" type="xs:string"/>
      <xs:element name="VoceEntrata" type="xs:string"/>
      <xs:element name="TipoPagamento" type="tns:TipoPagamentoType"/>
      <xs:element minOccurs="0" name="Iban" type="xs:string"/>
      <xs:element minOccurs="0" name="Bic" type="xs:string"/>
      <xs:element name="InvioFlussi" type="xs:boolean"/>
      <xs:element minOccurs="0" name="Email" type="xs:string"/>
      <xs:element name="Annullato" type="xs:boolean"/>
      <xs:element name="ModalitaDiIntegrazione" type="tns:ModalitaDiIntegrazioneType"/>
      <xs:element name="TipoMultibeneficiario" type="tns:TipoMultibeneficiarioType"/>
      <xs:element minOccurs="0" name="CfEnteSecondario" type="xs:string"/>
      <xs:element minOccurs="0" name="CodiceVersamentoSecondario" type="xs:string"/>
      <xs:element name="FlagInvioNotificatore" type="xs:boolean"/>
      <xs:element name="FlagPersonalizzazioneCov" type="xs:boolean"/>
      <xs:element minOccurs="0" name="DescrizioneTextCov" type="xs:string"/>
      <xs:element minOccurs="0" name="Passphrase" type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RiferimentoContabileType">
    <xs:sequence>
      <xs:element name="CodiceFiscaleEnte" type="xs:string"/>
      <xs:element name="CodiceVersamento" type="xs:string"/>
      <xs:element name="DataInizioValidita" type="xs:date"/>
      <xs:element minOccurs="0" name="DataFineValidita" type="xs:date"/>
      <xs:element minOccurs="0" name="TipologiaDatoSpecificoRiscossione" type="xs:string"/>
      <xs:element minOccurs="0" name="DatoSpecificoRiscossione" type="xs:string"/>
      <xs:element minOccurs="0" name="DescrizioneDatoSpecificoRiscossione" type="xs:string"/>
      <xs:element name="AnnoEsercizio" type="xs:integer"/>
      <xs:element minOccurs="0" name="NumeroEsercizio" type="xs:integer"/>
      <xs:element minOccurs="0" name="AnnoAccertamento" type="xs:integer"/>
      <xs:element minOccurs="0" name="NumeroAccertamento" type="xs:integer"/>
      <xs:element minOccurs="0" name="NumeroCapitolo" type="xs:integer"/>
      <xs:element minOccurs="0" name="NumeroArticolo" type="xs:integer"/>
      <xs:element minOccurs="0" name="LivelloPDC" type="xs:string"/>
      <xs:element minOccurs="0" name="Titolo" type="xs:string"/>
      <xs:element minOccurs="0" name="CodiceTipologia" type="xs:string"/>
      <xs:element minOccurs="0" name="CodiceCategoria" type="xs:string"/>
      <xs:element minOccurs="0" name="ChiaveIntersistema" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="TipologiaAccertamentoType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNI"/>
      <xs:enumeration value="PIN"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ModalitaAcquisizioneProvvisoriType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CAM"/>
      <xs:enumeration value="CON"/>
      <xs:enumeration value="NES"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PeriodicitaSchedulazioneType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SGF"/>
      <xs:enumeration value="GIO"/>
      <xs:enumeration value="SET"/>
      <xs:enumeration value="MEN"/>
      <xs:enumeration value="BIM"/>
      <xs:enumeration value="TRI"/>
      <xs:enumeration value="QUA"/>
      <xs:enumeration value="SEM"/>
      <xs:enumeration value="ANN"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ModalitaDiIntegrazioneType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PEC"/>
      <xs:enumeration value="SRV"/>
      <xs:enumeration value="ALL"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TipoPagamentoType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LDC"/>
      <xs:enumeration value="PS"/>
      <xs:enumeration value="REDS"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TipologiaDatoSpecificoRiscossioneType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SIOPE"/>
      <xs:enumeration value="ENTE"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TipoMultibeneficiarioType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ORDINARIO"/>
      <xs:enumeration value="PRIMARIO"/>
      <xs:enumeration value="SECONDARIO"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="AggiornaEnte">
    <wsdl:part element="tns:AggiornaEnteRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConfermaOperazioneResponse">
    <wsdl:part element="tns:ConfermaOperazioneResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AnnullaOperazione">
    <wsdl:part element="tns:AnnullaOperazioneRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AggiornaCodiceVersamento">
    <wsdl:part element="tns:AggiornaCodiceVersamentoRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TestResourcesResponse">
    <wsdl:part element="tns:TestResourcesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AnnullaOperazioneResponse">
    <wsdl:part element="tns:AnnullaOperazioneResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AggiornaCodiceVersamentoResponse">
    <wsdl:part element="tns:AggiornaCodiceVersamentoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConfermaOperazione">
    <wsdl:part element="tns:ConfermaOperazioneRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AggiornaEnteResponse">
    <wsdl:part element="tns:AggiornaEnteResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AggiornaRiferimentoContabileResponse">
    <wsdl:part element="tns:AggiornaRiferimentoContabileResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AggiornaRiferimentoContabile">
    <wsdl:part element="tns:AggiornaRiferimentoContabileRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TestResources">
    <wsdl:part element="tns:TestResourcesRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CoopApplicativaPEC">
    <wsdl:operation name="AggiornaEnte">
      <wsdl:input message="tns:AggiornaEnte" name="AggiornaEnte">
    </wsdl:input>
      <wsdl:output message="tns:AggiornaEnteResponse" name="AggiornaEnteResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnnullaOperazione">
      <wsdl:input message="tns:AnnullaOperazione" name="AnnullaOperazione">
    </wsdl:input>
      <wsdl:output message="tns:AnnullaOperazioneResponse" name="AnnullaOperazioneResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggiornaCodiceVersamento">
      <wsdl:input message="tns:AggiornaCodiceVersamento" name="AggiornaCodiceVersamento">
    </wsdl:input>
      <wsdl:output message="tns:AggiornaCodiceVersamentoResponse" name="AggiornaCodiceVersamentoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfermaOperazione">
      <wsdl:input message="tns:ConfermaOperazione" name="ConfermaOperazione">
    </wsdl:input>
      <wsdl:output message="tns:ConfermaOperazioneResponse" name="ConfermaOperazioneResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggiornaRiferimentoContabile">
      <wsdl:input message="tns:AggiornaRiferimentoContabile" name="AggiornaRiferimentoContabile">
    </wsdl:input>
      <wsdl:output message="tns:AggiornaRiferimentoContabileResponse" name="AggiornaRiferimentoContabileResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestResources">
      <wsdl:input message="tns:TestResources" name="TestResources">
    </wsdl:input>
      <wsdl:output message="tns:TestResourcesResponse" name="TestResourcesResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CoopApplicativaPECSoapBinding" type="tns:CoopApplicativaPEC">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AggiornaEnte">
      <soap:operation soapAction="http://www.csi.it/epay/epaywso/coopapplicativapec/AggiornaEnte" style="document"/>
      <wsdl:input name="AggiornaEnte">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AggiornaEnteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnnullaOperazione">
      <soap:operation soapAction="http://www.csi.it/epay/epaywso/coopapplicativapec/AnnullaOperazione" style="document"/>
      <wsdl:input name="AnnullaOperazione">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AnnullaOperazioneResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggiornaCodiceVersamento">
      <soap:operation soapAction="http://www.csi.it/epay/epaywso/coopapplicativapec/AggiornaCodiceVersamento" style="document"/>
      <wsdl:input name="AggiornaCodiceVersamento">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AggiornaCodiceVersamentoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfermaOperazione">
      <soap:operation soapAction="http://www.csi.it/epay/epaywso/coopapplicativapec/ConfermaOperazione" style="document"/>
      <wsdl:input name="ConfermaOperazione">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ConfermaOperazioneResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggiornaRiferimentoContabile">
      <soap:operation soapAction="http://www.csi.it/epay/epaywso/coopapplicativapec/AggiornaRiferimentoContabile" style="document"/>
      <wsdl:input name="AggiornaRiferimentoContabile">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AggiornaRiferimentoContabileResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestResources">
      <soap:operation soapAction="http://www.csi.it/epay/epaywso/coopapplicativapec/TestResources" style="document"/>
      <wsdl:input name="TestResources">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="TestResourcesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CoopApplicativaPEC">
    <wsdl:port binding="tns:CoopApplicativaPECSoapBinding" name="CoopApplicativaPEC">
      <soap:address location="http://10.202.52.66:13010/epaymodricApplEpaymodricWs/CoopApplicativaPEC"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>